/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* ШРИФТЫ */
    --main-font: 'Inter';
    --accent-font: 'PressStart2P';

    /* ВЕС ШРИФТА */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* РАЗМЕР ШРИФТА */
    --font-size-title: 18px;
    --font-size-text: 18px;

    /* ЗАДНИЙ ФОН */

}